name {
    color:coral;
    font-size: 40px;
    display: block;
    padding-left: 10%;
    
}
produce {
    border: 5px black solid;
    box-sizing: border-box;
    border-bottom-left-radius: 25%;
    border-top-left-radius: 25%;
    border-top-right-radius:25%;
    border-bottom-right-radius: 25%;
    border-color: cadetblue;
    background-color: rgb(179, 219, 200);

}
